android/build/
android/.gradle/
android/.settings/
android/local.properties
ios/build/
ios/Pods/
ios/**/*.xcworkspace/
ios/**/xcuserdata/
__tests__/
**/__tests__/
*.log
.DS_Store
.env
.env.local
*.tgz
.idea/
*.iml
.externalNativeBuild
.cxx
*.orig
